In [42]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from ast import literal_eval

In [22]:
ratings = pd.read_csv('ratings_small.csv')
keywords = pd.read_csv('keywords.csv')
movies_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
credits = pd.read_csv('credits.csv')

In [26]:
# Displaying the first few rows of each dataset to understand their structure
ratings_head = ratings.head()
keywords_head = keywords.head()
movies_metadata_head = movies_metadata.head()
credits_head = credits.head()

In [28]:
# Displaying the column information for each dataset
ratings_info = ratings.info()
keywords_info = keywords.info()
movies_metadata_info = movies_metadata.info()
credits_info = credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [30]:
ratings_head, keywords_head, movies_metadata_head, credits_head

(   userId  movieId  rating   timestamp
 0       1       31     2.5  1260759144
 1       1     1029     3.0  1260759179
 2       1     1061     3.0  1260759182
 3       1     1129     2.0  1260759185
 4       1     1172     4.0  1260759205,
       id                                           keywords
 0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
 1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
 2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
 3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
 4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...,
    adult                              belongs_to_collection    budget  \
 0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
 1  False                                                NaN  65000000
 2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
 3  False                                                NaN  16000000
 4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                               genres  \
 0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
 1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
 2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
 3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
 4                     [{'id': 35, 'name': 'Comedy'}]

                                homepage     id    imdb_id original_language  \
 0  http://toystory.disney.com/toy-story    862  tt0114709                en
 1                                   NaN   8844  tt0113497                en
 2                                   NaN  15602  tt0113228                en
 3                                   NaN  31357  tt0114885                en
 4                                   NaN  11862  tt0113041                en

                 original_title  \
 0                    Toy Story
 1                      Jumanji
 2             Grumpier Old Men
 3            Waiting to Exhale
 4  Father of the Bride Part II

                                             overview  ... release_date  \
 0  Led by Woody, Andy's toys live happily in his ...  ...   1995-10-30
 1  When siblings Judy and Peter discover an encha...  ...   1995-12-15
 2  A family wedding reignites the ancient feud be...  ...   1995-12-22
 3  Cheated on, mistreated and stepped on, the wom...  ...   1995-12-22
 4  Just when George Banks has recovered from his ...  ...   1995-02-10

        revenue runtime                                   spoken_languages  \
 0  373554033.0    81.0           [{'iso_639_1': 'en', 'name': 'English'}]
 1  262797249.0   104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
 2          0.0   101.0           [{'iso_639_1': 'en', 'name': 'English'}]
 3   81452156.0   127.0           [{'iso_639_1': 'en', 'name': 'English'}]
 4   76578911.0   106.0           [{'iso_639_1': 'en', 'name': 'English'}]

      status                                            tagline  \
 0  Released                                                NaN
 1  Released          Roll the dice and unleash the excitement!
 2  Released  Still Yelling. Still Fighting. Still Ready for...
 3  Released  Friends are the people who let you be yourself...
 4  Released  Just When His World Is Back To Normal... He's ...

                          title  video vote_average vote_count
 0                    Toy Story  False          7.7     5415.0
 1                      Jumanji  False          6.9     2413.0
 2             Grumpier Old Men  False          6.5       92.0
 3            Waiting to Exhale  False          6.1       34.0
 4  Father of the Bride Part II  False          5.7      173.0

 [5 rows x 24 columns],
                                                 cast  \
 0  [{'cast_id': 14, 'character': 'Woody (voice)',...
 1  [{'cast_id': 1, 'character': 'Alan Parrish', '...
 2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
 3  [{'cast_id': 1, 'character': "Savannah 'Vannah...
 4  [{'cast_id': 1, 'character': 'George Banks', '...

                                                 crew     id
 0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
 1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
 2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
 3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
 4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862  )

In [32]:
# Convert 'id' column to integer in movies_metadata for consistent merging
movies_metadata['id'] = pd.to_numeric(movies_metadata['id'], errors='coerce')

# Merge the datasets on the 'id' column
merged_data = pd.merge(movies_metadata[['id', 'title', 'genres', 'overview', 'vote_average']],
                       keywords,
                       on='id',
                       how='left')

In [34]:
# Function to extract genres from the JSON-like string in the 'genres' column
def extract_genres(genres_str):
    try:
        genres_list = literal_eval(genres_str)
        return [genre['name'] for genre in genres_list]
    except:
        return []

In [36]:
# Function to extract keywords from the JSON-like string in the 'keywords' column
def extract_keywords(keywords_str):
    try:
        keywords_list = literal_eval(keywords_str)
        return [keyword['name'] for keyword in keywords_list]
    except:
        return []

In [38]:
# Apply the extraction functions
merged_data['genres'] = merged_data['genres'].apply(extract_genres)
merged_data['keywords'] = merged_data['keywords'].apply(extract_keywords)

# Display the first few rows of the merged data
merged_data_head = merged_data.head()
merged_data_head

,id,title,genres,overview,vote_average,keywords
0,862.0,Toy Story,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",7.7,"[jealousy, toy, boy, friendship, friends, riva..."
1,8844.0,Jumanji,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,6.9,"[board game, disappearance, based on children'..."
2,15602.0,Grumpier Old Men,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,6.5,"[fishing, best friend, duringcreditsstinger, o..."
3,31357.0,Waiting to Exhale,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",6.1,"[based on novel, interracial relationship, sin..."
4,11862.0,Father of the Bride Part II,[Comedy],Just when George Banks has recovered from his ...,5.7,"[baby, midlife crisis, confidence, aging, daug..."

In [62]:
# Selecting three "query" movies
query_movies = ['Toy Story', 'Jumanji', 'Father of the Bride Part II']

# Filtering the dataset to retain only the necessary columns and rows
filtered_data = merged_data[['title', 'genres', 'keywords']].dropna()

# Converting genres and keywords lists into strings for TF-IDF vectorization
filtered_data['genres'] = filtered_data['genres'].apply(lambda x: ' '.join(x))
filtered_data['keywords'] = filtered_data['keywords'].apply(lambda x: ' '.join(x))

# Combining genres and keywords into a single string for vectorization
filtered_data['combined_features'] = filtered_data['genres'] + ' ' + filtered_data['keywords']

In [64]:
# TF-IDF vectorization of the combined features
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(filtered_data['combined_features'])

# Finding indices of the query movies in the filtered dataset
query_indices = filtered_data[filtered_data['title'].isin(query_movies)].index

In [66]:
# Calculating cosine similarity for each query movie
similarity_results = {}
for idx in query_indices:
    cosine_sim = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
    similar_indices = cosine_sim.argsort()[-11:-1][::-1]  # Top 10 similar movies (excluding the movie itself)
    similar_movies = filtered_data.iloc[similar_indices]['title'].tolist()
    similarity_results[filtered_data.iloc[idx]['title']] = similar_movies

# Displaying the top 10 similar movies for each query
similarity_results

{'Toy Story': ['Toy Story That Time Forgot',
  'Small Soldiers',
  'Barbie and the Three Musketeers',
  'Toy Story 3',
  'Dolls',
  "Child's Play",
  "Child's Play 2",
  'The Transformers: The Movie',
  'The Indian in the Cupboard',
  'Ted'],
 'Jumanji': ['The Games Maker',
  'Mostly Ghostly',
  'Stung',
  'Middle School: The Worst Years of My Life',
  'Karlsson on the Roof',
  'Mostly Ghostly: Have You Met My Ghoulfriend?',
  'Where the Wild Things Are',
  'In the Name of the King III',
  'Clue',
  'Mostly Ghostly 3: One Night in Doom House'],
 'Father of the Bride Part II': ['Blueberry Hill',
  'Wedding Doll',
  'In Good Company',
  'Equinox Flower',
  'Sherrybaby',
  'On Golden Pond',
  'Julia Misbehaves',
  'My Only Sunshine',
  'Gas Food Lodging',
  'Peppermint Soda']}